$black: #000000;
$white: #FFFFFF;
$red: #FF0000;
$green: #666633;

$main-font: Oswald, Arial, sans-serif;

@keyframes fadeInEffect {
  from {opacity: 0}
  to {opacity: 1}
}

body {
  font-family: $main-font;
}

.nav-bar {
  width: 100%;
  height: 50px;
  background-color: $black;
  position: fixed;
  box-shadow: 0 5px 5px $black;
  z-index: 1;
}

.nav-icon {
  height: 40px;
  margin: 5px 0;
}

.nav-icon-container {
  float: left;
  margin-left: 30px;
}

.nav-icon-container:hover {
  cursor: pointer;
}

nav {
  color: $white;
  font-size: 18px;
}

nav li {
  display: inline;
  float: right;
  margin-right: 30px;
  margin-top: 10px;
  padding: 5px;
  cursor: pointer;
  a {
    color: inherit;
    text-decoration: none;
  }
}

nav li:hover {
  border-bottom: 2px solid $green;
  a {
    color: inherit;
    text-decoration: none;
  }
}

.parallax {
  background-image: url("./images/main_background.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.main-title {
  margin: 0 auto;
  top: 25vh;
  position: relative;
  width: 70%;
  text-align: center;
  p {
    color: white;
    font-size: 22px;
    padding: 5px 0;
    line-height: 30px;
  }

  p:first-of-type {
    padding: 50px 0 0 0;
  }
}

.main-logo {
  width: 100%;
  animation-name: fadeInEffect;
  animation-duration: 4s;
}

section {
  background-color: $green;
  width: 100%;
}

.section-bar {
  background-color: $red;
  text-align: center;
  padding: 10px 0;
  border-top: 2px solid $white;
  border-bottom: 2px solid $white;
  color: $white;
  font-size: 20px;
  clear: both;
}

.section-content {
  padding: 10px;
  color: $white;
  font-size: 17px;
  line-height: 20px;
  clear: both;
}

.section-content-element {
  width: 100%;
  text-align: center;
  line-height: 25px;
  p {
    padding-bottom: 10px;
  }
}

.poster {
  width: 90%;
}

.sign-in {
  padding: 30px 0;
  font-size: 25px;
  text-align: center;
  line-height: 30px;
}


footer {
  background-color: $black;
  padding: 10px 0;
  text-align: center;
  font-size: 14px;
  color: $white;
}

.marker {
  color: yellow;
}

@media (min-width: 720px) {
  .poster {
    width: 60%;
  }
  .main-logo {
    width: 60%;
  }
  .main-title {
    width: 50%;
  }
  nav {
    font-size: 20px;
  }
}