$black: #000000;
$white: #FFFFFF;
$red: #FF0000;
$green: #666633;
$marker: #ffff00;

$main-font: Oswald, Arial, sans-serif;

@keyframes fadeInEffect {
  from {opacity: 0}
  to {opacity: 1}
}

body {
  font-family: $main-font;
}

.nav-bar {
  width: 100%;
  height: 50px;
  background-color: $black;
  position: fixed;
  box-shadow: 0 5px 5px $black;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
}

.nav-icon {
  height: 40px;
  margin: 5px 0;
}

.nav-icon-container {
  position: absolute;
  left: 20px;
  top: 0px;
}

.nav-icon-container:hover {
  cursor: pointer;
}

nav {
  color: $white;
  font-size: 18px;
  display: none;
}

nav li {
  display: inline;
  float: right;
  margin-right: 30px;
  margin-top: 10px;
  padding: 5px;
  cursor: pointer;
  a {
    color: inherit;
    text-decoration: none;
  }
}

nav li:hover {
  border-bottom: 2px solid $green;
  a {
    color: inherit;
    text-decoration: none;
  }
}

.parallax {
  background-image: url("./images/main_background.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.main-title {
  margin: 0 auto;
  top: 13vh;
  position: relative;
  width: 70%;
  text-align: center;
  p {
    color: $white;
    font-size: 22px;
    padding: 5px 0;
    line-height: 30px;
  }

  p:first-of-type {
    padding: 50px 0 0 0;
  }
}

.main-logo {
  width: 100%;
  animation-name: fadeInEffect;
  animation-duration: 4s;
}

section {
  background-color: $green;
  width: 100%;
}

.section-bar {
  background-color: $red;
  text-align: center;
  padding: 10px 0;
  border-top: 2px solid $white;
  border-bottom: 2px solid $white;
  color: $white;
  font-size: 20px;
  clear: both;
}

.section-content {
  padding: 10px;
  color: $white;
  font-size: 17px;
  line-height: 20px;
  clear: both;
}

.section-content-element {
  width: 100%;
  text-align: center;
  line-height: 25px;
  p {
    padding-bottom: 10px;
  }
}

.poster {
  width: 90%;
}

.sign-in {
  padding: 30px 0;
  font-size: 25px;
  text-align: center;
  line-height: 30px;
}


footer {
  background-color: $black;
  padding: 10px 0;
  text-align: center;
  font-size: 14px;
  color: $white;
}

.marker {
  color: $marker;
}

.rotation-info {
  background-color: $red;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 7vh;
  color: $white;
  height: 100vh;
  display: none;
}

.menu-short, .menu-short a {
  background-color: $black;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  margin: 12px 20px 0 0;
}

.menu-short span {
  display: block;
  width: 26px;
  height: 3px;
  border-radius: 1px;
  background-color: $white;
  margin-bottom:5px;
  margin-top:5px;
  padding: 0 5px;
}

.chkbox-menu {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: 1;
  width: 100%;
  height: 90%;
  cursor: pointer;
}

input.chkbox-menu {
  opacity: 0;
}

.menu-short-collapse {
  position: fixed;
  display: block;
  width: 205px;
  color: $white;
  background-color: $black;
  opacity: 0.9;
  top: 54px;
  text-align: center;
  margin-left: 55px;
  transition: margin-left 2s; // transition effect for short menu
  -webkit-transition: margin-left 2s; // transition effect for short menu

  li {
    padding: 10px 0 10px 10px;
    border-bottom: 1px solid $red;

    a {
      color: $white;
    }

  }

  li:last-of-type {
    border-bottom: 0px;
  }

}

.menu-short input:checked~.menu-short-collapse {
  margin-left: -130px;
}

@media (min-width: 720px) {
  .poster {
    width: 60%;
  }
  .main-logo {
    width: 60%;
  }
  .main-title {
    width: 50%;
    top: 25vh;
    }
  nav {
    font-size: 20px;
  }
}

@media screen and (min-width: 300px) and (max-width: 719px) and (orientation: landscape)
{
  main, footer, .nav-bar {
    display: none;
  }
  .rotation-info {
    display: flex;
  }
}

@media (min-width: 576px) {
  nav {
    display: block;
  }
  .menu-short {
    display: none;
  }
}